<DOCTYPE html>
<html>
<head>
  <% include /partials/head %>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>
  <form>
    <input type="text" name="textbox">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
