body{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./public/images/index/Kanto_HGSS.png");
  background-position:center;
  background-size:cover;
  text-align:center;
  color:white;

}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding-top: 100px;
    margin:auto;
    text-align: center;
    color: #fff;
    font-family:Pokemon
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
}

.intro .intro-body .intro-text {
}
