body{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/index/Kanto_HGSS.png");
  background-position:center;
  background-size:cover;
  text-align:center;
  color:white;
  padding-top:10%;
  padding-bottom:10%;
  margin-bottom:0px;
}

h1{
  color:White;
}
