#wrapper {
  margin-top: 100px;
}

.monster {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Pokemon;
}

.monname {
  font-size: 18pt;
}

.monmove {
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/index/Kanto_HGSS.png");
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
  text-align:center;
  color:white;
  padding: none;
  margin: none;
}

.intro {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    display: table;
    height: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    color: #fff;
    font-family:Pokemon;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
