#wrapper {
  margin-top: 80px;
}

#download {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 14pt;
  background-color: #333333;
  border: solid 1px;
  border-top-color: #555555;
  border-left-color: #555555;
  border-right-color: #222222;
  border-bottom-color: #222222;
  border-radius: 10px;
  cursor: pointer;
  cursor: hand;
}

#download:hover {
  background-color: #666666;
}

#download:active {
  background-color: #333333;
}

.monster {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Pokemon;
}

.monname {
  font-size: 18pt;
}

.monmove {
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/index/Kanto_HGSS.png");
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
  text-align:center;
  color:white;
  padding: none;
  margin: none;
}

.intro {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    display: table;
    height: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    color: #fff;
    font-family:Pokemon;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.monmove {
    border: solid black 1px;
    border-radius: 10px;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #888888;
    border-bottom-color: #888888;
    background-color: rgba(85, 85, 85, 0.5);
    cursor: pointer;
    cursor: hand;

}

.monmove:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

a, a:hover {
    color: white;
    text-decoration: none;
}



