<!-- About Section -->
<section id="tabs" class="container content-section" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-12">
            <h2>Tabs</h2>
            <p class=" text-center">The tabs using Twitter Bootstrap Javascript and CSS with jQuery.</p>
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="height: 200px;">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        You can activate a tab or pill navigation without writing any JavaScript by simply specifying data-toggle="tab" or data-toggle="pill" on an element. Adding the nav and nav-tabs classes to the tab ul will apply the Bootstrap tab styling, while adding the nav and nav-pills classes will apply pill styling.
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        Content Profile
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        Content Message
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        Content Settings
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="tabs_2" class="container content-section" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-12">
            <h2>Tabs</h2>
            <p class=" text-center">The tabs using Twitter Bootstrap CSS and jQuery.</p>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="jq-tabs">
                    <li role="presentation" class="active"><a href="#home2" >Home</a></li>
                    <li role="presentation"><a href="#profile2" >Profile</a></li>
                    <li role="presentation"><a href="#messages2" >Messages</a></li>
                    <li role="presentation"><a href="#settings2" >Settings</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content2" id="jq-tab-content" style="height: 200px;">
                    <div role="tabpanel" class="tab-pane2 active" id="home2">
                        You can activate a tab or pill navigation without writing any JavaScript by simply specifying data-toggle="tab" or data-toggle="pill" on an element. Adding the nav and nav-tabs classes to the tab ul will apply the Bootstrap tab styling, while adding the nav and nav-pills classes will apply pill styling.
                    </div>
                    <div role="tabpanel" class="tab-pane2" id="profile2">
                        Content Profile
                    </div>
                    <div role="tabpanel" class="tab-pane2" id="messages2">
                        Content Message
                    </div>
                    <div role="tabpanel" class="tab-pane2" id="settings2">
                        Content Settings
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
